# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs
/Application/bin/Debug/net10.0
/Application/obj
/Domain/bin/Debug/net10.0
/Domain/obj
/HotelManagementSystem/bin/Debug/net10.0
/HotelManagementSystem/obj
/Infrastructure/bin/Debug/net10.0
/Infrastructure/obj
/Application.UnitTests/bin/Debug/net10.0
/Application.UnitTests/obj
